# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Gisle Aas <gaas@cpan.org> <gisle@aas.no>
Gisle Aas <gaas@cpan.org> <aas@oslonett.no>
Gisle Aas <gaas@cpan.org> <gisle.aas@it.uib.no>
Gisle Aas <gaas@cpan.org> <gisle@activestate.com>
Gisle Aas <gaas@cpan.org> <gisle@baux-2.lan>
Gisle Aas <gaas@cpan.org> gisle <gisle>
Gisle Aas <gaas@cpan.org> aas <aas>
Nicolas R <nicolas@atoomic.org> <atoomic@cpan.org>
